.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div#loading {
  margin:0 auto;
  padding-top: 150px;
  height: 200px;
  width: 200px;
}
.alert-header {
  color: lightgray;
  padding: 5px 5px 5px 25px;
  background-color: #222;
}

span.updatedAt {
  float: right;
  font-size: 9pt;
  font-style: italic;
}

.alert-footer {
  color: gray;
  margin: 10px;
  padding-top: 5px;
}

#alerts ul {
  margin: 10px;
  padding: 0;
  margin: 15px;
  list-style-type: none;
}

#alerts li.alert {
  margin: 10px;
  border-bottom: 2px solid lightgray;
}

#alerts li.line {
  font-weight: bold;
}

div.header-red {
  color: #ee0505;
}

#alerts div.header {
  color: #848484;
  padding-bottom: 10px;
  font-weight: normal;
}



#alerts div.description {
  font-size: 14pt;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
